<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header class="container-fluid background-fuchsia">
        <nav>
            <ul>
                <li>
                    <h1><strong>Bienvenido! Es un gusto volver a verte.</strong></h1>
                    <h6 class="color-white">Lista de proyectos y tareas</h6>
                </li>
            </ul>
            <ul>
              <li><a class="botonEliminar" href="/usuario/cerrar_sesion">Cerrar sesion</a></li>
            </ul>
          </nav>
    </header>
