<%-include('partials/header')%>
<main class="container-fluid">
    <article>
        <header>
            <h1>403</h1>
        </header>
            <h3>No tienes permiso de ingresar</h3>
        <footer>
            <a href="/">Inicia sesion o crea una nueva cuenta.</a>
        </footer>
    </article>
</main>
<%-include('partials/footer')%>